<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FI.AtividadeEntrevista.Properties.Settings.BancoDeDadosConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\rodrigo.h.silva\Downloads\FI.WebAtividadeEntrevista - Copy - Copy\FI.WebAtividadeEntrevista\FI.WebAtividadeEntrevista\App_Data\BancoDeDados.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>